*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
.container{
    width: 360px;
    height: 610px;
    border: 2px solid black;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(98, 98, 98)
}
.inp input{
    width: 335px;
    height: 140px;
    margin-top: 15px;
    margin-left: 8px;
    border-radius: 15px;
    background-color: beige;
}
.forbut{
    width: 360px;
    height: 420px;
    margin-top: 35px;
    margin-left: 3px;
    border-radius: 15px;
}
.buttonins{
    display: flex;
    justify-content: space-around;
    width: 80px;
    height: 70px;
    padding: 30px;
    display: inline-block;
    padding: 10px;
    margin-left: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px; 
    border-radius: 20px;
    font-weight: bolder;
    font-size: 23px;
    transition: transform 0.5s ease;
    border: 1px solid black;
}
#forzero{
    width: 190px;
    height: 80px;
    font-weight: bolder;
    border-radius: 30px;
    font-size: xx-large;
    margin-left: 4px;
    margin-top: 0px;
}

#equal{
    width: 128px;
    height: 75px;
    font-weight: bolder;
    border-radius: 20px;
    font-size: xx-large;
    margin-left: 15px;
}

.setbutton :hover{
    background-color: rgba(213, 148, 49, 0.638);
    border-radius: 23px;
    transform: scale(1.1);
    border: 1 solid black;
}

   