* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 6%;
  width: 770px;
  height: 470px;
  background-color: rgb(170, 167, 167);
  border-radius: 8px;
  box-shadow: 3px 3px 20px 1px black;
}

.heading {
  display: flex;
  justify-content: center;
}
.heading h1 {
  color: white;
  font-size: 50px;
  font-weight: 500;
  text-shadow: 4px 4px 15px rgb(0, 0, 0);
}

.main {
  margin-top: 10px;
  padding: 20px 20px;
  width: 100%;
  height: 450px;
  /* border: 1px solid #000; */
}
.main p {
  font-size: 20px;
}

.firstinp {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  /* border: 1px solid #000; */
}
label {
  font-size: 25px;
  font-weight: 500;
}

.myinp input {
  width: 100%;
  height: 50px;
  /* border: 1px solid #000; */
  border-radius: 10px;
  font-size: 20px;
  border: none;
}

button {
  margin-top: 15px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(9, 116, 9);
  font-size: 20px;
  color: white;
  border: none;
}
button:active {
  color: aqua;
  background-color: rgb(0, 0, 0);
  transition: 2s ease-in-out;
}

.total {
  margin-top: 10px;
  width: 50%;
  height: 40px;
  /* border: 1px solid #000; */
}
.total p {
  font-size: 30px;
  font-weight: 400;
}
