body {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0%;
    margin: 0%;
    background-color: antiquewhite;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

h1 {
    color: brown;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Verdana, Geneva, Tahoma, sans-serif;
}

.two {
    margin-top: 5rem;
    margin-left: 2rem;
}